*
!.gitignore
!.gitkeep
!.gitmodules
!/abbrev_defs
!/ac-dict/
!/ac-dict/*
!/backup/
!/ddskk/
!/ddskk/init
!/el-get-user/
!/el-get-user/recipes/
!/el-get-user/recipes/*
!/eshell/
!/eshell/alias
!/init.d/
!/init.d/lisp/
!/init.d/lisp/*.el
!/init.d/lisp/el-get/
!/init.d/lisp/el-get/*.el
!/init.d/lisp/features/
!/init.d/lisp/features/*.el
!/init.d/lisp/user-features/
!/init.d/lisp/user-features/*.el
!/init.d/site-lisp/
!/init.el
!/moz-functions/
!/moz-functions/*.js
!/lisp/
!/lisp/*/
!/site-lisp/
!/snippets/
!/snippets/**/*
!/themes/
!/themes/*
!/themes/lisp/
!/themes/lisp/*.el
!/themes/site-lisp/
!/themes/site-lisp/.el
!/.client
