*
!.gitkeep
!/.gitignore
!/LICENSE
!/README.md
!/backup/
!/ddskk/
!/ddskk/init
!/early-init.el
!/el-get-user/
!/el-get-user/recipes/
!/el-get-user/recipes/*
!/el-get-user/site-recipes/
!/eshell/
!/eshell/alias
!/gnus/
!/init.d/
!/init.d/lisp/
!/init.d/lisp/*.el
!/init.d/lisp/features/
!/init.d/lisp/features/*.el
!/init.d/lisp/packages/
!/init.d/lisp/packages/*.el
!/init.d/lisp/user-features/
!/init.d/lisp/user-features/*.el
!/init.d/lisp/user-packages/
!/init.d/lisp/user-packages/*.el
!/init.d/site-lisp/
!/init.el
!/lisp/
!/lisp/**
/lisp/**/*.elc
/lisp/**/*-loaddefs.el
!/scratchb/
!/site-lisp/
!/snippets/
!/snippets/**/*
!/themes/
!/themes/lisp/
!/themes/lisp/*.el
!/themes/site-lisp/
!/uelpa/
!/uelpa/**
/uelpa/**/*.elc
/uelpa/**/*-loaddefs.el
